html {
    min-height: 100%;
}

html, body {
    overflow: auto;
}

body {
    width: 1200px;
    position:relative;
    height: 100%;
    margin: 0px auto;
    padding-bottom: 50px;
}

nav {
    box-shadow:  2px 2px 10px rgba(0,0,0,0.5);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

nav li a:hover {
    background-color: #111;
}

.header i{
    position: relative;
    right: 234px;
    bottom: 45px;
    font-size: 26px;
}


.filter_container .filter_box p {
    font-size: 20px;
    margin: 5px;
}

.filter_container .filter_box table {
    width: 100%;
}

.filter_container .filter_box td {
    width: auto;
}

.filter_container .filter_box input:hover {
    cursor: pointer;
}

.filter_container .filter_box caption{
    text-align: center;
    font-size: 24px;
    width: 100%;
}

.filter_container .filter_box caption:hover{
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}


.filter_container {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.header img {
    display: inline-block;
    width: 230px;
    border-radius: 10px;
}

.site_name {
    display: inline-block;
}


.header h2 {
    left: 40px;
    position: relative;
    display: inline-block;
    margin: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    vertical-align: 90px;
}


.menu ul {
    padding-left: 0;
    margin-top: 15px;
    list-style-type: none;
    width: 100%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}
.menu ul a {
    display: inline-block;
    background-color: rgb(60, 166, 228);
    padding: 7px;
    color: white;
    font-size: 28px;
    width: 94%;
    text-decoration: none;
}

.menu ul a:hover {  
    transition: 1s;
    background-color: rgb(44, 116, 175);
}

.data {
    display: block;
    position: relative;
    width: inherit;
    height: 100%;
}

.menu {
    width: 19%;
    float: left;
    padding-left: 2px;
    display: block;
}

/* @todo each puzzle is a flex-block */

.data .content {
    display: block;
    float: right;
    position: relative;
    margin-right: 1%;
    width: 75%;
    margin-top: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:  white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
}

.table_content a {
    font-size: 22px;
    font-family: monospace;
}

.table_content {
    display: inline-block;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
}

.table_content tr {
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.table_content caption {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.data {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content {
    font-size: 30px;
}

.user_info {
    width: 60%;
    float: right;
    font-size: 22px;
}

.user_info p {
    font-size: 22px;    
}

/* @todo styles .puzzles_table */

#user_bio p{
    font-size: 22px;
}

#username {
    font-family: 'Courier New', Courier, monospace;
}

.puzzle_data {
    display: inline-block;
    position: relative;
    left: 10px;
    width: 90%;
}

.puzzle_data img {
    position: relative;
    top: 18px;
}

.puzzle_data p {
    font-size: 22px;
}

.puzzle_data h1 {
    margin-top: 0px;
}

.puzzle_price {
    display: inline-block;
    position: relative;
    right: 50px;
    top: -10px;
    float: right;
}

.puzzle_price b {
    font-size: 32px;
}

.puzzle_price p {
    font-size: 29px;
}

.puzzle_price #btn_buy {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.filter_container #btn_filter {
    display: block;
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    border-radius: 10px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.puzzle_price #btn_buy:hover {
    background: rgb(37, 167, 99);
    cursor: pointer;
}

.puzzle_short_info {
    display: inline-block;
    width: 100%;
    /* float: right; */
}

.puzzle_specs {
    /* float: right; */
    display: inline-block;
    /* width: 70%; */
}

.puzzle_specs table {
    display: block;
    text-align: left;
    border-spacing: 20px;
}

.puzzle_bio p {
    font-size: 15px;
}

footer {
    /* margin-top: 200px; */
    display: block;
    color: white;
    font-size: 20px;
    background:rgb(60, 166, 228);
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
}

content_puzzles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.puzzle_block p {
    font-size: 20px;
    margin: 5px auto;
}

.puzzle_block caption {
    font-size: 20px;
    display: block;
    text-align: center;
}

.puzzle_block img {
    margin: 0 auto;
    display: block;
}

.puzzle_block a {
    text-decoration: none;
    color: dodgerblue;
}


.puzzle_block {
    display: inline-block;
    margin: 10px;
    width: 28%;
    min-height: 350px;
    padding-bottom: 10px;
    padding-left: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

.puzzle_block img {
    width: 100%;
}

puzzle_block_price {
    width: 100%;
}

#btn_block_buy:hover {
    cursor: pointer;
}

#btn_block_buy {
    position: relative;
    right: 4%;
    bottom: 50%;
    background: rgb(64,199,129);
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    float: right;
}

.puzzle_block_price img, .puzzle_block_price table{
    display: inline;
    font-size: 15px;
}