body {
    width: 1200px;
    margin: 0px auto;
    border: 5px dotted red;
}

.header img {
    display: inline-block;
}

.menu ul {
    padding-left: 10px;
}

.header h2 {
    padding-left: 50px;
    display: inline-block;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif; /*@todo learn*/
}

.menu {
    vertical-align: top;
    /* top: -270px; */
    position: relative;
    display: inline-block;
    border: 1px dotted black;
}

.content {
    display: inline-block;
    border: 2px indigo double;
}
